Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality

Merge results from the same URL
  geotribu_cli/search/search_content.py
Labels: none

feature: add option to ignore automerge
  docs/usage/configuration.md
  geotribu_cli/search/search_content.py
Labels: documentation

Add mastodon lists export workflow
  .github/workflows/export-mastodon-list.yml
Labels: ci-cd

fix: Mastodon export was only exporting first page
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto: use mastodonpy to broadcast comments
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/social/cmd_mastodon_export.py
  geotribu_cli/social/mastodon_client.py
Labels: none

release: bump to version 0.32.1
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Ignore .idea folder
  .gitignore
Labels: none

Add yaml header check wip
  geotribu_cli/cli.py
  geotribu_cli/content/header_check.py
  geotribu_cli/subcommands/__init__.py
Labels: none

Add tags check using JSON feed
  geotribu_cli/content/header_check.py
  geotribu_cli/content/json_feed.py
Labels: none

Add some tests
  tests/fixtures/content/2012-12-21_article_passe.md
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/test_yaml_header_check.py
Labels: quality

Add mandatory keys check
  geotribu_cli/content/header_check.py
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/test_yaml_header_check.py
Labels: quality

ci: limit parallel tests to 2
  .github/workflows/tests.yml
Labels: ci-cd

ci: fix syntax errors
  .github/workflows/tests.yml
Labels: ci-cd

refacto: use mastodonpy to broadcast comments
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/social/cmd_mastodon_export.py
  geotribu_cli/social/mastodon_client.py
Labels: none

improve(mastodon): improve Mastodon token resiliency
  geotribu_cli/social/mastodon_client.py
Labels: none

Check tags alphabetical order
  geotribu_cli/content/header_check.py
  tests/fixtures/content/2012-12-21_article_passe.md
  tests/test_yaml_header_check.py
Labels: quality

Remove publish date check
  geotribu_cli/content/header_check.py
  tests/test_yaml_header_check.py
Labels: quality

Add some tests
  tests/fixtures/content/2012-12-21_article_passe.md
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/test_yaml_header_check.py
Labels: quality

Add yaml header check wip
  geotribu_cli/cli.py
  geotribu_cli/content/header_check.py
  geotribu_cli/subcommands/__init__.py
Labels: none

Add tags check using JSON feed
  geotribu_cli/content/header_check.py
  geotribu_cli/content/json_feed.py
Labels: none

Add mandatory keys check
  geotribu_cli/content/header_check.py
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/test_yaml_header_check.py
Labels: quality

typo: fix docstring indentation
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto(mastodon): make comment_already_broadcasteduse Mastodonpy
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto(mastodon): fix comment to broadcast
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto(mastodon): reuse downloaded statuses
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto(mastodon): check if comment to broadcast has a parent
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto(mastodon): achieve comment broadcast with Mastodon.py
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto(mastodon): clean up
  geotribu_cli/social/mastodon_client.py
Labels: none

refacto(mastodon): move comment formatter in class
  geotribu_cli/social/mastodon_client.py
Labels: none

Use utils function for checking if file exists
  geotribu_cli/content/header_check.py
Labels: none

refacto(mastodon): fix unreachable var
  geotribu_cli/social/mastodon_client.py
Labels: none

Add tests for JSON client
  tests/test_json_client.py
Labels: quality

Add JSON client for feed and tags
  geotribu_cli/json/__init__.py
  geotribu_cli/json/json_client.py
Labels: none

Remove items test
  tests/test_json_client.py
Labels: quality

Remove property for JSON items and tags
  geotribu_cli/json/json_client.py
Labels: none

Add JSON feed length test
  tests/test_json_client.py
Labels: quality

Add journalizer module
  geotribu_cli/cli.py
  geotribu_cli/utils/journalizer.py
Labels: none

feature(logs): improve journalization by adding a rotated log file
  geotribu_cli/utils/journalizer.py
Labels: none

chore(deps): bump min version of rich argparse
  requirements/base.txt
Labels: dependencies

fix(python): pipe is not supported in 3.9
  geotribu_cli/utils/journalizer.py
Labels: none

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix


ci-cd:
  - changed-files:
      - any-glob-to-any-file:
        - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - requirements/documentation.txt

enhancement:
  - head-branch:
    - ^feature
    - feature
    - ^improve
    - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
        - builder/**/*
        - setup.py
  - head-branch:
    - ^packaging
    - packaging

quality:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - codecov.yml
          - .pre-commit-config.yaml
          - setup.cfg
          - sonar-project.properties
          - .vscode/**/*
  - head-branch:
    - ^tooling
    - tooling
