Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*

Bump version to 0.8.0
  geotribu_cli/__about__.py
Labels: none

typo docstring
  geotribu_cli/utils/formatters.py
Labels: none

Add http/s proxy support
  geotribu_cli/utils/file_downloader.py
Labels: none

Add basic cli runs
  tests/test_cli.py
Labels: quality

Add test against filesize converter
  tests/test_utils_formatters.py
Labels: quality

Run images command
  tests/test_cli.py
Labels: quality

Test if file has been downloaded
  tests/test_cli.py
Labels: quality

Fix test images
  tests/test_cli.py
Labels: quality

Homogeneize: add result limit arg to subcommands
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Add sample SVG
  tests/fixtures/miscellaneous/sample_with_dimensions_attributes.svg
  tests/fixtures/miscellaneous/sample_without_dimensions_attributes.svg
Labels: quality

Add util to get and check image dimensions
  geotribu_cli/utils/check_image_size.py
  requirements/base.txt
  requirements/testing.txt
  tests/test_utils_images_size.py
Labels: dependencies, quality

Bump to version 0.9.0
  geotribu_cli/__about__.py
Labels: none

Use GA to deploy doc on GH Pages
  .github/workflows/documentation.yml
Labels: ci-cd

Add latest versions
  CHANGELOG.md
Labels: none

Fix token scope
  .github/workflows/documentation.yml
Labels: ci-cd

Hotfix missing arg
  geotribu_cli/subcommands/search_content.py
Labels: none

Bump to version 0.9.1
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

typo
  tests/test_utils_slugifier.py
Labels: quality

Add util to extract date from content location
  geotribu_cli/utils/date_from_content.py
  tests/test_utils_date_from_content.py
Labels: quality

Add content date to results
  geotribu_cli/subcommands/search_content.py
Labels: none

Add dataclasses related to Mkdocs search
  geotribu_cli/constants.py
Labels: none

Use orjson instead of json
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
  requirements/base.txt
Labels: dependencies

Dev scripts to compare different JSON parsers
  tests/dev/dev_filtering_json_ijson.py
  tests/dev/dev_filtering_json_msgspec.py
  tests/dev/dev_filtering_json_orjson.py
  tests/dev/dev_filtering_json_stdlib.py
Labels: quality

Fix cli main arguments
  geotribu_cli/cli.py
Labels: none

Fix cli tests
  tests/test_cli.py
Labels: quality

Reduce sleep time
  tests/test_utils_file_stats.py
Labels: quality

Bump version to 0.10.0
  geotribu_cli/__about__.py
Labels: none

Fix run without args
  geotribu_cli/cli.py
Labels: none

typo
  geotribu_cli/subcommands/rss_reader.py
Labels: none

Improve file downloader
  geotribu_cli/subcommands/rss_reader.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
  geotribu_cli/utils/file_downloader.py
Labels: none

Add upgrade subcommand
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/upgrade.py
Labels: none

Add semver to base dependencies
  requirements/base.txt
Labels: dependencies

Add new subcommand
  geotribu_cli/cli.py
Labels: none

Set default output to table
  geotribu_cli/subcommands/rss_reader.py
Labels: none

Bump to version 0.11.0
  geotribu_cli/__about__.py
Labels: none

Show latest changelog when a new version is available
  geotribu_cli/subcommands/upgrade.py
Labels: none

Add missing release notes
  CHANGELOG.md
Labels: none

Bump pre-commit and git hokos to fix isort bug
  .pre-commit-config.yaml
  requirements/development.txt
Labels: dependencies

Extend git hooks
  .pre-commit-config.yaml
Labels: none

Apply new hooks
  builder/version_info_templater.py
  geotribu_cli/__about__.py
  geotribu_cli/cli.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/utils/check_image_size.py
  geotribu_cli/utils/check_path.py
  geotribu_cli/utils/date_from_content.py
  geotribu_cli/utils/proxies.py
Labels: packaging
