Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

logs: en français et plus générique
  geotribu_cli/utils/file_downloader.py
Labels: none

feature: ajoute une commande pour ouvrir un commentaire en particulier
  geotribu_cli/cli.py
  geotribu_cli/comments/__init__.py
  geotribu_cli/comments/comments_open.py
  geotribu_cli/subcommands/__init__.py
Labels: none

feature: gère les cas où le fichier JSON téléchargé est corrompu
  geotribu_cli/comments/comments_latest.py
Labels: none

fix: Python 3.9 type hint compatibility
  geotribu_cli/comments/comments_open.py
Labels: none

refacto: move code to improve logic mutualization
  geotribu_cli/cli_results_rich_formatters.py
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/comments/comments_latest.py
  geotribu_cli/comments/comments_open.py
  geotribu_cli/comments/comments_toolbelt.py
  geotribu_cli/search/search_content.py
  geotribu_cli/search/search_image.py
Labels: none

refacto: clean up
  geotribu_cli/cli_results_rich_formatters.py
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/comments/comments_toolbelt.py
  geotribu_cli/search/search_content.py
  geotribu_cli/search/search_image.py
Labels: none

refacto: move find comment by id into proper function and fix while loop
  geotribu_cli/comments/comments_open.py
  geotribu_cli/comments/comments_toolbelt.py
Labels: none

fix: var may be independent
  geotribu_cli/comments/comments_toolbelt.py
Labels: none

feature: support open comment in browser
  geotribu_cli/comments/comments_open.py
Labels: none

feature: make it possible to broadcast a specific comment by its id
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/comments/comments_latest.py
Labels: none

docs: add new env variables
  docs/usage/configuration.md
Labels: documentation

dev: script to test against isso API
  tests/dev/dev_isso_api.py
Labels: quality

tooling: add sonarcloud
  README.md
  sonar-project.properties
Labels: none

feature: improve proxies detection
  docs/usage/configuration.md
  geotribu_cli/utils/proxies.py
  geotribu_cli/utils/url_helpers.py
  tests/test_utils_proxies.py
  tests/test_utils_url_helpers.py
Labels: documentation, quality

refacto: replace http.client with requests
  geotribu_cli/social/mastodon_client.py
  geotribu_cli/utils/file_downloader.py
Labels: none

dependencies: add requests
  requirements/base.txt
Labels: dependencies

packaging: support Python 3.12
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  setup.py
Labels: ci-cd, packaging

release: bump version to 0.31.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

improve: search contents results display
  geotribu_cli/cli_results_rich_formatters.py
Labels: none

tooling: fix sonarcloud configuration
  sonar-project.properties
Labels: none

tooling: specify tests folder to SonarCloud
  sonar-project.properties
Labels: none

improve: search images table result
  geotribu_cli/cli_results_rich_formatters.py
  geotribu_cli/search/search_image.py
Labels: none

clean up sonar warning
  geotribu_cli/cli_results_rich_formatters.py
Labels: none

tests: run comments and search-images
  tests/test_cli.py
Labels: quality

fix: do not sys exit on comment opening
  geotribu_cli/comments/comments_open.py
Labels: none

tests: add pytest-retry to mark flaky
  requirements/testing.txt
  tests/test_cli.py
Labels: dependencies, quality

tests: flaky only on SystemExit
  tests/test_cli.py
Labels: quality

security: bump pillow to 10.2 to fix CVE-2022-22817
  requirements/testing.txt
Labels: dependencies

release: bump version to 0.31.1
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

tooling: enable import autocompletion in VSCode
  .vscode/settings.json
Labels: tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*
