Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*

Use black as default formatter
  .vscode/settings.json
Labels: tooling

Restore exception trace
  geotribu_cli/utils/date_from_content.py
Labels: none

Replace semver by packaging
  geotribu_cli/subcommands/upgrade.py
  requirements/base.txt
  requirements/testing.txt
  tests/test_about.py
Labels: dependencies, quality

Add packaging as base dependency
  requirements/base.txt
Labels: dependencies

Bump pre-commit
  requirements/development.txt
Labels: dependencies

Add docstring
  geotribu_cli/subcommands/search_content.py
Labels: none

Fix docstrings
  geotribu_cli/subcommands/rss_reader.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Deploy only on tags
  .github/workflows/documentation.yml
Labels: ci-cd

Deploy doc only on tags OR main
  .github/workflows/documentation.yml
Labels: ci-cd

Bump to 0.12.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Download new release only in frozen mode
  geotribu_cli/subcommands/upgrade.py
Labels: none

Use package name
  geotribu_cli/subcommands/upgrade.py
Labels: none

Fix docstring indentation
  geotribu_cli/utils/date_from_content.py
Labels: none

Handle GITHUB_TOKEN env var
  geotribu_cli/subcommands/upgrade.py
Labels: none

Add basic str2bool converter
  geotribu_cli/utils/str2bool.py
Labels: none

Add option to show or not release notes
  geotribu_cli/subcommands/upgrade.py
Labels: none

Add configuration page
  docs/index.md
  docs/usage/configuration.md
Labels: documentation

typo
  docs/usage/configuration.md
Labels: documentation

Improve release content-type detection
  geotribu_cli/subcommands/upgrade.py
Labels: none

Add spinner during download
  geotribu_cli/subcommands/upgrade.py
Labels: none

Ignore built packages
  .gitignore
Labels: none

Bump version to 0.13.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Ajoute GEOTRIBU_DEFAULT_SUBCOMMAND
  docs/usage/configuration.md
Labels: documentation

Add default subcommand
  geotribu_cli/cli.py
Labels: none

Add spinners during long operations
  geotribu_cli/subcommands/search_content.py
Labels: none

Add news env vars
  docs/usage/configuration.md
Labels: documentation

Add metavars and env vars
  docs/usage/configuration.md
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: documentation

Add test against str2bool
  tests/test_utils_str2bool.py
Labels: quality

Remove * char
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

FIx test to fit new default output
  tests/test_cli.py
Labels: quality

Bump to version 0.14.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Fix docstring
  geotribu_cli/constants.py
Labels: none

Add utils to manipulate URLs query params
  geotribu_cli/utils/formatters.py
  tests/test_utils_formatters.py
Labels: quality

Improve hyperlink display
  geotribu_cli/subcommands/rss_reader.py
Labels: none

Bump version to 0.15.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Fix test against current version
  tests/test_utils_formatters.py
Labels: quality

Add dependencies section
  docs/misc/credits.md
  docs/misc/dependencies.md
Labels: documentation

Ignore autogenerated file
  .gitignore
Labels: none

Add sphinx mermaid
  docs/conf.py
  docs/index.md
  requirements/documentation.txt
Labels: dependencies, documentation

Add job to generate dependencies graph
  .github/workflows/documentation.yml
Labels: ci-cd
