Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix


ci-cd:
  - changed-files:
      - any-glob-to-any-file:
        - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - requirements/documentation.txt

enhancement:
  - head-branch:
    - ^feature
    - feature
    - ^improve
    - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
        - builder/**/*
        - setup.py
  - head-branch:
    - ^packaging
    - packaging

quality:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - codecov.yml
          - .pre-commit-config.yaml
          - setup.cfg
          - sonar-project.properties
          - .vscode/**/*
  - head-branch:
    - ^tooling
    - tooling

Remove prints
  geotribu_cli/content/header_check.py
Labels: none

Update test image data
  tests/test_utils_images_size.py
Labels: quality

Use enum for licenses
  geotribu_cli/content/header_check.py
Labels: none

fix(images): print with rich console to display emoji
  geotribu_cli/images/images_optimizer.py
Labels: none

fix(ci): ajoute le jeton Codecov et des flags
  .github/workflows/tests.yml
Labels: ci-cd

feature(images): ajoute un petit bilan à la fin
  geotribu_cli/images/images_optimizer.py
Labels: none

feature(images): tient compte du dossier de sortie
  geotribu_cli/images/images_optimizer.py
  geotribu_cli/images/optim_pillow.py
  geotribu_cli/images/optim_tinify.py
Labels: none

fix(optimizer): corrige le comportement avec une seule image
  geotribu_cli/images/images_optimizer.py
Labels: none

refacto(header): transforme la liste de clés obligatoires en enum
  geotribu_cli/constants.py
  geotribu_cli/content/header_check.py
  tests/test_yaml_header_check.py
Labels: quality

Fix test
  tests/test_yaml_header_check.py
Labels: quality

Check that license is in available ones
  geotribu_cli/content/header_check.py
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/test_yaml_header_check.py
Labels: quality

Use enum for licenses
  geotribu_cli/content/header_check.py
Labels: none

feature(header_check): déplace l'enum dans constants et utilise la méthode de classe
  geotribu_cli/constants.py
  geotribu_cli/content/header_check.py
Labels: none

use downloader to fetch image sizes data
  geotribu_cli/content/header_check.py
Labels: none

refacto(json_feed_client): utilise le file downloader pour mutualiser le code
  geotribu_cli/constants.py
  geotribu_cli/json/json_client.py
Labels: none

edit json feed updated URL
  geotribu_cli/constants.py
Labels: none

docstring and remove min width and min height
  geotribu_cli/content/header_check.py
Labels: none

docs: ajout pipx
  docs/usage/installation.md
Labels: documentation

change(print): utilise console.print plutôt que print directement
  geotribu_cli/comments/comments_open.py
Labels: none

fix(tests): increase API page and enable verbose mode
  tests/test_cli.py
Labels: quality

fix(tests): do not sys exit on comments open
  geotribu_cli/comments/comments_open.py
Labels: none

release: bump version (just to trigger stucked CI)
  geotribu_cli/__about__.py
Labels: none

improve(tests): ajoute une commande de recherche aux tests d'intégration
  .github/workflows/tests.yml
Labels: ci-cd

add ratio check
  geotribu_cli/content/header_check.py
Labels: none

add image extension check
  geotribu_cli/content/header_check.py
Labels: none

Fix unnecessary pillow import by using image size from CDN endpoint (#218)
  geotribu_cli/content/header_check.py
  tests/test_utils_images_size.py
Labels: quality

release: bump version to 0.34.1
  CHANGELOG.md
Labels: none

remove unused variables in prints
  geotribu_cli/content/header_check.py
Labels: none

fix header check unused variables (#229)
  geotribu_cli/content/header_check.py
Labels: none

v0.34.2
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

fix image header extension check
  geotribu_cli/content/header_check.py
Labels: none

fix image body dimensions declaration
  geotribu_cli/constants.py
Labels: none

add image extension check tests
  tests/test_yaml_header_check.py
Labels: quality

fix typing
  geotribu_cli/content/header_check.py
Labels: none

add images check tests
  tests/test_yaml_header_check.py
Labels: quality

opti fetch image sizes dict
  geotribu_cli/content/header_check.py
  tests/test_yaml_header_check.py
Labels: quality

fix tuple typing
  geotribu_cli/constants.py
Labels: none

fix image body dimensions declaration (#232)
  geotribu_cli/constants.py
Labels: none

fix header image extension check (#231)
  geotribu_cli/content/header_check.py
  tests/test_yaml_header_check.py
Labels: quality

v0.34.3
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none
