Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality

update(docs): add comments broadcast details
  docs/usage/examples.md
Labels: documentation

update(build): bump macos and ubuntu base images versions
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Labels: ci-cd

fix(ci): refine unittest skip condition to avoid dependabot errors
  tests/test_mastodon_client.py
Labels: quality

update(chore): bump minimal markdownify version
  requirements/base.txt
Labels: dependencies

update(packaging): remove Python3.9 support
  .github/workflows/tests.yml
  setup.py
  sonar-project.properties
Labels: ci-cd

update(tooling): set Python 3.10 as minimal version
  .pre-commit-config.yaml
Labels: none

update(chore): apply upgrades with Python 3.10
  .pre-commit-config.yaml
  geotribu_cli/cli_results_rich_formatters.py
  geotribu_cli/comments/comments_toolbelt.py
  geotribu_cli/images/optim_pillow.py
  geotribu_cli/images/optim_tinify.py
  geotribu_cli/social/mastodon_client.py
  geotribu_cli/utils/args_types.py
  geotribu_cli/utils/check_image_size.py
  geotribu_cli/utils/check_path.py
  geotribu_cli/utils/file_downloader.py
  geotribu_cli/utils/journalizer.py
  geotribu_cli/utils/start_uri.py
  geotribu_cli/utils/str2bool.py
  setup.py
Labels: none

fix(search): confusion between local search index and filtered listing was leading to errors
  geotribu_cli/search/mdl_search.py
  geotribu_cli/search/search_content.py
  geotribu_cli/utils/file_downloader.py
Labels: none

change(comments/broadcast): make mastodon the default targetted social media
  geotribu_cli/comments/comments_broadcast.py
Labels: none

update(tooling): add SonarQube settings
  .sonarlint/connectedMode.json
  .vscode/settings.json
Labels: none

add(feature): enable autocompletion with argcomplete
  docs/usage/configuration.md
  geotribu_cli/cli.py
  geotribu_cli/constants.py
  requirements/base.txt
Labels: dependencies, documentation

update(packaging): switch to pyproject.toml
  geotribu_cli/__about__.py
  pyproject.toml
  setup.cfg
  setup.py
Labels: none

update(tooling): remove legacy requirements.txt files and update CI and doc consequently
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  docs/development/setup.md
  geotribu_cli/_version.py
  requirements/base.txt
  requirements/development.txt
  requirements/documentation.txt
  requirements/extra.img-local.txt
  requirements/extra.img-remote.txt
  requirements/packaging.txt
  requirements/testing.txt
Labels: ci-cd, dependencies, documentation

remove(versioning): delete _version.py file (autogenerated)
  .gitignore
  geotribu_cli/_version.py
Labels: none

fix(typo): no space in optional dependencies list
  .github/workflows/build_release.yml
Labels: ci-cd

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix


ci-cd:
  - changed-files:
      - any-glob-to-any-file:
        - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - requirements/documentation.txt

enhancement:
  - head-branch:
    - ^feature
    - feature
    - ^improve
    - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
        - builder/**/*
        - setup.py
  - head-branch:
    - ^packaging
    - packaging

quality:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - codecov.yml
          - .pre-commit-config.yaml
          - setup.cfg
          - sonar-project.properties
          - .vscode/**/*
  - head-branch:
    - ^tooling
    - tooling
