Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

Add url formatter to extract content name from URL
  geotribu_cli/utils/formatters.py
  tests/test_utils_formatters.py
Labels: quality

Fix local filename to open using the new formatter
  geotribu_cli/subcommands/open_result.py
Labels: none

Bump to version 0.17.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Factorize open content
  geotribu_cli/subcommands/open_result.py
Labels: none

Prompt for which result to open after search
  geotribu_cli/subcommands/rss_reader.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Use min value between results count and number of results
  geotribu_cli/subcommands/rss_reader.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Add option to enable/disable auto-prompt
  docs/usage/configuration.md
Labels: documentation

Fix test by using --no-prompt
  tests/test_cli.py
Labels: quality

Disable autoprompt using env var
  .github/workflows/documentation.yml
  docs/development/documentation.md
Labels: ci-cd, documentation

Add search guides module
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/search_guides.py
Labels: none

Add subparser for search guides
  geotribu_cli/cli.py
Labels: none

Add contribuer URL
  geotribu_cli/constants.py
Labels: none

Bump to version 0.18.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Improve project's urls
  setup.py
Labels: packaging

Add script to test nested subparsers
  tests/dev/dev_nested_subparsers.py
Labels: quality

Add comment dataclass
  geotribu_cli/constants.py
Labels: none

Move comment object after settings
  geotribu_cli/constants.py
Labels: none

Add subcommand to get latest comments
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/comments_latest.py
Labels: none

Add test against comment latest
  tests/test_cli.py
Labels: quality

Add comments-latest to main CLI as nested parser
  geotribu_cli/cli.py
Labels: none

Add example for comments latest
  .github/workflows/documentation.yml
  docs/development/documentation.md
  docs/usage/examples.md
Labels: ci-cd, documentation

Add date column
  geotribu_cli/subcommands/comments_latest.py
Labels: none

Fix comments print to stdout
  geotribu_cli/subcommands/comments_latest.py
  tests/test_cli.py
Labels: quality

Bump to version 0.19.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add release to GitHub Container Registry
  .github/workflows/build_release.yml
Labels: ci-cd

Bump version to 0.19.1
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Wait for GitHub Release and Pypi release before pushing docker
  .github/workflows/build_release.yml
Labels: ci-cd

add how to install with docker
  docs/development/packaging.md
  docs/index.md
  docs/usage/installation.md
Labels: documentation

Fix docker tags
  .github/workflows/build_release.yml
Labels: ci-cd

Bump version to 0.19.2
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add sorting criteria on latest comments
  geotribu_cli/subcommands/comments_latest.py
Labels: none

Add mastodon instance base url
  geotribu_cli/constants.py
Labels: none

Fix len comparison
  geotribu_cli/subcommands/comments_latest.py
Labels: none

Add subcommand to broadcast latest comments to social networks
  geotribu_cli/cli.py
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Add markdownify as base dependency
  requirements/base.txt
Labels: dependencies

Shorten comment text to fit length limit in Mastodon
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Improve final message
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Check if comment has been already published to avoid duplicate
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Auto open posted comments on web browser
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Add option to control auto open
  docs/usage/configuration.md
  geotribu_cli/subcommands/comments_broadcast.py
Labels: documentation

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*
