Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

Clean up
  geotribu_cli/search/search_content.py
  geotribu_cli/utils/args_types.py
Labels: none

Add tests against argparse custom types
  tests/test_utils_args_types.py
Labels: quality

Use new Geotribu website URL
  geotribu_cli/constants.py
  geotribu_cli/utils/formatters.py
  tests/test_utils_formatters.py
Labels: quality

Bump version to 0.26.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add used search filters to results table
  geotribu_cli/search/search_content.py
Labels: none

typos
  geotribu_cli/social/mastodon_client.py
Labels: none

Use CLI logo
  docs/conf.py
Labels: documentation

Add help example
  .github/workflows/documentation.yml
  docs/usage/examples.md
Labels: ci-cd, documentation

Change exe icon
  docs/static/img/geotribu_cli_logo.ico
Labels: documentation

Move cross-platform file creation date comparison in file stat module
  geotribu_cli/utils/file_downloader.py
  geotribu_cli/utils/file_stats.py
Labels: none

Handle different file creation date (ctime) implementation on Unix and Windows
  geotribu_cli/utils/file_downloader.py
Labels: none

Improve locale set to avoid some encoding errors
  geotribu_cli/console.py
Labels: none

Use centralized console to print output
  geotribu_cli/rss/rss_reader.py
  geotribu_cli/search/search_content.py
  geotribu_cli/search/search_image.py
Labels: none

Bump version to 0.27.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

WIP
  geotribu_cli/constants.py
  geotribu_cli/search/search_content.py
  geotribu_cli/social/mastodon_client.py
Labels: none

Add method to load dynamically requirements
  setup.py
Labels: packaging

Fix python 3.10 ref
  setup.py
Labels: packaging

Check if tinify is available
  geotribu_cli/images/images_optimizer.py
  geotribu_cli/images/optim_tinify.py
Labels: none

Fix requirements path
  setup.py
Labels: packaging

Add extra to doc and CI
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
  docs/development/setup.md
  docs/usage/installation.md
Labels: ci-cd, documentation

Make tinify an optional dependency
  requirements/base.txt
  requirements/extra.img-remote.txt
  setup.py
Labels: dependencies, packaging

Add pillow as extra dependency
  requirements/extra.img-local.txt
  setup.py
Labels: dependencies, packaging

Add image optimization with pillow (local)
  geotribu_cli/images/images_optimizer.py
  geotribu_cli/images/optim_pillow.py
Labels: none

Add journalizer module
  geotribu_cli/cli.py
  geotribu_cli/utils/journalizer.py
Labels: none

Bump version to 0.28.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Strip attr_list extension tags from content before display
  geotribu_cli/subcommands/open_result.py
Labels: none

Add video and article
  docs/index.md
  docs/static/img/release_download_executable.webp
Labels: documentation

Translate and complete installation page
  docs/usage/installation.md
Labels: documentation

Bump version to 0.29.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Run tests when packaging deps change
  .github/workflows/build_release.yml
Labels: ci-cd

Set minimal version for mystparser
  requirements/documentation.txt
Labels: dependencies

Add advanced images search exampels
  .github/workflows/documentation.yml
  docs/usage/examples.md
Labels: ci-cd, documentation

Update pillow to fix libwebp CVE
  requirements/extra.img-local.txt
  requirements/testing.txt
Labels: dependencies

Bump version to 0.30.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add extrut and requests
  requirements/base.txt
Labels: dependencies

dev: script pour manipuler le package extruct
  tests/dev/dev_extract_page_metadata.py
Labels: quality

tooling: update VS Code config
  .vscode/settings.json
Labels: tooling

ia: add openai as extra dependency
  requirements/extra.ia.txt
  setup.py
Labels: dependencies, packaging

wip: summarize
  geotribu_cli/cli.py
  geotribu_cli/ia/__init__.py
  geotribu_cli/ia/summarize.py
  geotribu_cli/subcommands/__init__.py
  tests/dev/dev_chap_gpt_summarize.py
Labels: quality

tooling: update VS Code settings
  .vscode/settings.json
Labels: tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*
