Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality

deps: add mastodon.py
  requirements/base.txt
Labels: dependencies

docstrings
  tests/dev/dev_mastodon_py.py
Labels: quality

dev: add script to export lists and accounts
  tests/dev/dev_mastodon_py.py
  tests/dev/dev_mastodon_requests.py
Labels: quality

feature: add extened mastodon client with export capabilities
  geotribu_cli/social/mastodon_client.py
  tests/dev/dev_mastodon_py.py
  tests/test_mastodon_client.py
Labels: quality

ci: expose mastodon access token for tests
  .github/workflows/tests.yml
Labels: ci-cd

feature: add subcomand to export Mastodon data
  geotribu_cli/cli.py
  geotribu_cli/social/cmd_mastodon_export.py
  geotribu_cli/subcommands/__init__.py
Labels: none

docs: add example how to export Mastodon data
  docs/usage/examples.md
Labels: documentation

quality: fix sonar
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/comments/comments_latest.py
  geotribu_cli/comments/comments_open.py
  geotribu_cli/content/new_article.py
  geotribu_cli/images/images_optimizer.py
  geotribu_cli/rss/rss_reader.py
  geotribu_cli/search/search_content.py
  geotribu_cli/search/search_image.py
  geotribu_cli/social/cmd_mastodon_export.py
  geotribu_cli/subcommands/open_result.py
Labels: none

ci: use better YAML compliant lists
  .github/workflows/tests.yml
Labels: ci-cd

release: bump version to 0.32.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

docs: enable zoom on Mermaid diagrams
  docs/conf.py
Labels: documentation

docs: update dependencies
  requirements/documentation.txt
Labels: dependencies, documentation

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - requirements/documentation.txt
enhancement:
  - head-branch: ["^feature", "feature", "^improve", "improve"]

packaging:
  - head-branch: ["^packaging", "packaging"]
  - changed-files:
      - any-glob-to-any-file:
        - builder/**/*
        - setup.py

quality:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

tooling:
  - head-branch: ["^tooling", "tooling"]
  - changed-files:
      - any-glob-to-any-file:
          - codecov.yml
          - .pre-commit-config.yaml
          - setup.cfg
          - sonar-project.properties
          - .vscode/**/*
