Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality

docs: minor changes
  docs/conf.py
Labels: documentation

tooling(ide): update VSCode settings
  .vscode/settings.json
Labels: none

release: bump version to 0.33.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

ci(release): switch to PyPi trusted publisher
  .github/workflows/build_release.yml
Labels: ci-cd

packaging(pypi): use docs as package homepage
  setup.py
Labels: none

tests(mastodon): skip tests requiring a Mastodon token if not present
  tests/test_mastodon_client.py
Labels: quality

tooling(tests): add retry config
  setup.cfg
Labels: none

tests(comments): increase retry delay and set expiration hour to 0
  tests/test_cli.py
Labels: quality

Use JSON feed client
  geotribu_cli/content/header_check.py
  geotribu_cli/content/json_feed.py
Labels: none

Use frontmatter to load yaml metadata
  geotribu_cli/content/header_check.py
Labels: none

Accept multiple path parameters
  geotribu_cli/content/header_check.py
Labels: none

Add missing dependency
  requirements/base.txt
Labels: dependencies

Edit how image sizes are checked
  geotribu_cli/content/header_check.py
Labels: none

Remove icon and subtitle from mandatory keys
  geotribu_cli/content/header_check.py
Labels: none

Check author markdown file
  geotribu_cli/content/header_check.py
Labels: none

Fix author md check
  geotribu_cli/content/header_check.py
Labels: none

docs: corrections et ajouts mineurs
  docs/usage/examples.md
  docs/usage/installation.md
Labels: documentation

docs: fix docstring
  geotribu_cli/images/optim_pillow.py
Labels: none

Add image size by url function
  geotribu_cli/utils/check_image_size.py
  tests/test_utils_images_size.py
Labels: quality

Add author md check tests
  geotribu_cli/content/header_check.py
  geotribu_cli/utils/check_image_size.py
  tests/fixtures/team/jane-doe.md
  tests/test_utils_images_size.py
  tests/test_yaml_header_check.py
Labels: quality

Update geotribu_cli/content/header_check.py
  geotribu_cli/content/header_check.py
Labels: none

Update geotribu_cli/content/header_check.py
  geotribu_cli/content/header_check.py
Labels: none

Update geotribu_cli/content/header_check.py
  geotribu_cli/content/header_check.py
Labels: none

Add missing imports
  geotribu_cli/content/header_check.py
Labels: none

Use slugger for author md file
  geotribu_cli/content/header_check.py
  requirements/base.txt
Labels: dependencies

No more unidecode
  geotribu_cli/content/header_check.py
Labels: none

Add yaml header check (#184)
  geotribu_cli/cli.py
  geotribu_cli/content/header_check.py
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/utils/check_image_size.py
  tests/fixtures/content/2012-12-21_article_passe.md
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/fixtures/team/jane-doe.md
  tests/test_utils_images_size.py
  tests/test_yaml_header_check.py
Labels: quality

v0.34.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

v0.34.0 (#207)
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Fix wheel build artifact download folder
  .github/workflows/build_release.yml
Labels: ci-cd

docs: add how to fix failed tag
  docs/development/releasing.md
Labels: documentation

wip: debug
  geotribu_cli/social/mastodon_client.py
  tests/test_mastodon_client.py
Labels: quality

ci: restore max parallelization
  .github/workflows/tests.yml
Labels: ci-cd

Update packaging.txt
  requirements/packaging.txt
Labels: dependencies

release: bump version to 0.34.0
  CHANGELOG.md
Labels: none

Remove license
  geotribu_cli/content/header_check.py
Labels: none

Fix test
  tests/test_yaml_header_check.py
Labels: quality

Check that license is in available ones
  geotribu_cli/content/header_check.py
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/test_yaml_header_check.py
Labels: quality

Densify releasing doc
  docs/development/releasing.md
Labels: documentation

Use image size from CDN endpoint
  geotribu_cli/content/header_check.py
Labels: none

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix


ci-cd:
  - changed-files:
      - any-glob-to-any-file:
        - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - requirements/documentation.txt

enhancement:
  - head-branch:
    - ^feature
    - feature
    - ^improve
    - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
        - builder/**/*
        - setup.py
  - head-branch:
    - ^packaging
    - packaging

quality:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - codecov.yml
          - .pre-commit-config.yaml
          - setup.cfg
          - sonar-project.properties
          - .vscode/**/*
  - head-branch:
    - ^tooling
    - tooling
