Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

Manually add lunr --> nltk
  .github/workflows/documentation.yml
Labels: ci-cd

Missing stream output
  .github/workflows/documentation.yml
Labels: ci-cd

Add icon to win32 packaged app
  builder/frozen_app_icon.ico
  builder/pyinstaller_build_windows.py
Labels: packaging

Add title and tags to output table
  geotribu_cli/subcommands/search_content.py
Labels: none

Apply count to json output
  geotribu_cli/subcommands/search_content.py
Labels: none

Better cli usage and description
  docs/index.md
  geotribu_cli/__about__.py
Labels: documentation

Rm useless f-string
  geotribu_cli/subcommands/search_image.py
Labels: none

Disable syntax column (for now)
  geotribu_cli/subcommands/search_image.py
Labels: none

Fix missing serach term in results
  geotribu_cli/subcommands/search_image.py
Labels: none

Add URL on image name and integration syntax
  geotribu_cli/subcommands/search_image.py
Labels: none

typo
  geotribu_cli/subcommands/search_content.py
Labels: none

Bump version to 0.16.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add module to dump and restore cli history
  geotribu_cli/history.py
Labels: none

Add util to open a file, a directory or an url using the default os app
  geotribu_cli/utils/start_uri.py
Labels: none

Save subcommands results to history
  geotribu_cli/subcommands/rss_reader.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Add test agains open_uri
  tests/test_utils_start_uri.py
Labels: quality

Add open_result subcommand
  geotribu_cli/cli.py
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/open_result.py
Labels: none

Add util to get content source URL from content final URL
  geotribu_cli/constants.py
  geotribu_cli/utils/formatters.py
Labels: none

In shell mode, use source url
  geotribu_cli/subcommands/open_result.py
Labels: none

Fix bad message
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Add geotribu working directory
  geotribu_cli/constants.py
Labels: none

Open source markdown file in shell
  docs/conf.py
  geotribu_cli/subcommands/open_result.py
Labels: documentation

Make sure parent folder exists
  geotribu_cli/utils/file_downloader.py
Labels: none

Add sphinx-autodoc-typehints
  requirements/documentation.txt
Labels: dependencies

Add url formatter to retrieve source URL from published content
  geotribu_cli/utils/formatters.py
Labels: none

Add test against new URL formatter
  geotribu_cli/utils/formatters.py
  tests/test_utils_formatters.py
Labels: quality

Add column number
  geotribu_cli/subcommands/search_image.py
Labels: none

Fix row number index
  geotribu_cli/history.py
  geotribu_cli/subcommands/open_result.py
Labels: none

Add env vars
  docs/usage/configuration.md
Labels: documentation

Add column with row number
  geotribu_cli/subcommands/rss_reader.py
  geotribu_cli/subcommands/search_content.py
Labels: none

Add examples
  docs/usage/examples.md
Labels: documentation

Add some git hooks
  .pre-commit-config.yaml
Labels: none

Fix git hook
  .pre-commit-config.yaml
Labels: none

Ajoute des git hooks pygrep (#75)
  .pre-commit-config.yaml
Labels: none

Use shared console instance
  geotribu_cli/console.py
  geotribu_cli/subcommands/open_result.py
  geotribu_cli/subcommands/rss_reader.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
  geotribu_cli/subcommands/upgrade.py
Labels: none

Upgrade screen capture
  docs/static/img/geotribu_search-image_postgis.png
  docs/static/img/search_image_table_logo.png
Labels: documentation

Embed cli output dynamically generated
  .github/workflows/documentation.yml
  docs/development/documentation.md
  docs/usage/cli_sample_rss.txt
  docs/usage/cli_sample_rss_rdp.txt
  docs/usage/cli_sample_search_images_postgis.txt
  docs/usage/cli_sample_search_images_postgis_logos_json.txt
  docs/usage/examples.md
Labels: ci-cd, documentation

Fix column header
  geotribu_cli/subcommands/rss_reader.py
Labels: none

Add search-content examples
  .github/workflows/documentation.yml
  docs/development/documentation.md
  docs/usage/cli_sample_search_content_advanced.txt
  docs/usage/cli_sample_search_content_orfeo.txt
  docs/usage/examples.md
Labels: ci-cd, documentation

Ignore autogenerated samples
  .gitignore
Labels: none

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*
