Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality

update(packaging): modernize Docker image
  .dockerignore
  Dockerfile
  README.md
  docs/development/packaging.md
  requirements.txt
Labels: documentation

update(packageing): map __about__ avars on package metadata extracted from pyproject.toml
  docs/development/documentation.md
  docs/development/testing.md
  geotribu_cli/__about__.py
  pyproject.toml
Labels: dependencies, documentation

release: bump version to 0.35.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: documentation

fix(tooling): remove encoding pragma
  .pre-commit-config.yaml
Labels: none

update(deps): bump requests minimal version
  pyproject.toml
Labels: dependencies

update(chore): bump minimal versions of dependencies
  pyproject.toml
Labels: dependencies

improve(ci): set GH Token permission scope
  .github/workflows/build_release.yml
Labels: ci-cd

improve(ci): set GH Token permission scope
  .github/workflows/tests.yml
Labels: ci-cd

update(tooling): exclude*[bot] from release notes
  .github/release.yml
Labels: ci-cd

bump: release to 0.35.1
  CHANGELOG.md
Labels: documentation

fix(ci): GH release job requires an elevated token
  .github/workflows/build_release.yml
Labels: ci-cd

chore(deps): bump imagesize minimal version to 2 and adpat code to breaking changes
  geotribu_cli/utils/check_image_size.py
  pyproject.toml
Labels: dependencies

update(packaging): support Python 3.14
  .github/workflows/tests.yml
  pyproject.toml
  sonar-project.properties
Labels: ci-cd, dependencies

update(packaging): support Python 3.14 in integration tests
  .github/workflows/tests.yml
Labels: ci-cd

update(packaging): use Python 3.14 to build release assets
  .github/workflows/build_release.yml
Labels: ci-cd

release: bump version to 0.35.2
  CHANGELOG.md
  pyproject.toml
Labels: dependencies, documentation

.github/labeler.yml:

bug:
  - head-branch:
      - ^fix
      - fix
      - ^hotfix
      - hotfix

ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - pyproject.toml

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - README.md
          - CONTRIBUTING.md
          - CHANGELOG.md

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - builder/**/*
          - pyproject.toml
  - head-branch:
      - ^packaging
      - packaging

quality:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - codecov.yml
          - .pre-commit-config.yaml
          - sonar-project.properties
          - .vscode/**/*
  - head-branch:
      - ^tooling
      - tooling
