Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

Use docstring notypes
  .vscode/settings.json
Labels: tooling

Refacto images module
  geotribu_cli/images/__init__.py
  geotribu_cli/images/images_optimizer.py
  geotribu_cli/images/optim_tinify.py
  geotribu_cli/subcommands/__init__.py
Labels: none

Refactorize RSS subcmd and related model
  geotribu_cli/constants.py
  geotribu_cli/rss/__init__.py
  geotribu_cli/rss/mdl_rss.py
  geotribu_cli/rss/rss_reader.py
  geotribu_cli/subcommands/__init__.py
Labels: none

Translate into fr
  CONTRIBUTING.md
Labels: none

Refactorize search related modules
  geotribu_cli/constants.py
  geotribu_cli/search/__init__.py
  geotribu_cli/search/mdl_search.py
  geotribu_cli/search/search_content.py
  geotribu_cli/search/search_image.py
  geotribu_cli/subcommands/__init__.py
Labels: none

Add sub command to create new article
  geotribu_cli/cli.py
  geotribu_cli/constants.py
  geotribu_cli/content/__init__.py
  geotribu_cli/content/new_article.py
  geotribu_cli/subcommands/__init__.py
Labels: none

Use a custom YAML Handler and Dumper to have indented metadata
  geotribu_cli/content/new_article.py
  geotribu_cli/content/yaml_handler.py
Labels: none

Add test against new command
  tests/test_cli.py
Labels: quality

Handle article title
  geotribu_cli/content/new_article.py
Labels: none

Improve test
  tests/test_cli.py
Labels: quality

Fix file or folder check
  geotribu_cli/utils/start_uri.py
Labels: none

Do not print to stderr
  geotribu_cli/console.py
Labels: none

Add auto open
  geotribu_cli/content/new_article.py
Labels: none

Handle autoopen
  tests/test_cli.py
Labels: quality

Bump version to 0.23.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Rm GPF ref
  CONTRIBUTING.md
Labels: none

Update geotribot_manifest.md
  docs/misc/geotribot_manifest.md
Labels: documentation

Add expiration_rotating_hours option to comments latest
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/comments/comments_latest.py
Labels: none

Fix duplicated slash in URL
  geotribu_cli/comments/comments_broadcast.py
Labels: none

Add custom HTTP error processor to avoid exception
  geotribu_cli/utils/file_downloader.py
Labels: none

Improve 401 response handling
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/utils/file_downloader.py
Labels: none

Better logs
  geotribu_cli/comments/comments_broadcast.py
Labels: none

Bump version to 0.24.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Move code related to mastodon into specific module
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/social/__init__.py
  geotribu_cli/social/mastodon_client.py
Labels: none

Improve log
  geotribu_cli/social/mastodon_client.py
Labels: none

Add option 'q' to quit prompt
  geotribu_cli/rss/rss_reader.py
  geotribu_cli/search/search_content.py
  geotribu_cli/search/search_image.py
Labels: none

Enable auto fstring
  .vscode/settings.json
Labels: tooling

Fix days until newt month function
  geotribu_cli/utils/dates_manipulation.py
  tests/test_utils_date_helpers.py
Labels: quality

Add helper to compare dates
  geotribu_cli/utils/dates_manipulation.py
Labels: none

Add test against date comparison
  tests/test_utils_date_helpers.py
Labels: quality

Add arguments to filter contents based on date
  geotribu_cli/search/search_content.py
Labels: none

Add argparse types checker
  geotribu_cli/utils/args_types.py
Labels: none

Make type hint compatible with Python 3.9
  geotribu_cli/images/optim_tinify.py
Labels: none

Use type hint compatible with 3.9
  geotribu_cli/utils/str2bool.py
Labels: none

Restore Python 3.9
  .github/workflows/tests.yml
Labels: ci-cd

Specify some args to hooks
  .pre-commit-config.yaml
Labels: none

Affine la configuration des git hooks et corrige la compatibilité avec Python 3.9 (#112)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  geotribu_cli/images/optim_tinify.py
  geotribu_cli/utils/str2bool.py
Labels: ci-cd

Rm unused arg
  geotribu_cli/utils/args_types.py
Labels: none

Bump version to 0.25.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add missing env var related to search dates
  docs/usage/configuration.md
Labels: documentation

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*
