Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*

Add builder
  builder/manifest.xml
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  builder/template_win_exe_version_info.txt
  builder/version_info_templater.py
Labels: packaging

Replace refs to previous project
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
Labels: ci-cd

Apply git hooks
  .github/workflows/tests.yml
  .vscode/settings.json
  docs/usage/installation.md
  junit/test-results.xml
  setup.cfg
  setup.py
  src/cli.py
  src/utils/__init__.py
Labels: ci-cd, documentation, packaging, tooling

Badges
  README.md
Labels: none

Rm emji
  src/cli.py
Labels: none

Badges
  README.md
Labels: none

Fix cli name
  docs/usage/cli.md
Labels: documentation

Minor fixes
  docs/conf.py
  docs/development/testing.md
Labels: documentation

clean up
  docs/development/setup.md
Labels: documentation

Make sure that the version info is UTF8
  builder/version_info_templater.py
Labels: packaging

Ignore junit
  .gitignore
  junit/test-results.xml
Labels: none

Bump to version 0.2.0
  src/__about__.py
Labels: none

Rename src into geotribu_cli
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  builder/version_info_templater.py
  docs/conf.py
  setup.cfg
  setup.py
  src/__about__.py
  src/__init__.py
  src/cli.py
  src/subcommands/__init__.py
  src/subcommands/search-image.py
  src/utils/__init__.py
  src/utils/bouncer.py
  src/utils/check_path.py
  src/utils/geomtools.py
  src/utils/proxies.py
  src/utils/slugger.py
  tests/dev/dev_cli_subparsers.py
  tests/test_about.py
  tests/test_utils_check_path.py
Labels: documentation, packaging, quality, tooling

Add subcommand search-image
  geotribu_cli/__about__.py
  geotribu_cli/__init__.py
  geotribu_cli/cli.py
  geotribu_cli/constants.py
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/search_image.py
  geotribu_cli/utils/__init__.py
  geotribu_cli/utils/check_path.py
  geotribu_cli/utils/file_downloader.py
  geotribu_cli/utils/formatters.py
  geotribu_cli/utils/proxies.py
  geotribu_cli/utils/slugger.py
  requirements/base.txt
Labels: dependencies

Change source path
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .gitignore
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  setup.cfg
  setup.py
Labels: ci-cd, packaging, tooling

Improve requirements load
  setup.py
Labels: packaging

Add VS Code config
  .vscode/settings.json
Labels: tooling

Oupsiii
  setup.py
Labels: packaging

Fix prog name
  docs/usage/cli.md
Labels: documentation

Use rich to format CLI help
  geotribu_cli/cli.py
  requirements/base.txt
Labels: dependencies

rm apidoc
  docs/_apidoc/modules.rst
  docs/_apidoc/src.cli.rst
  docs/_apidoc/src.rst
  docs/_apidoc/src.subcommands.rst
  docs/_apidoc/src.subcommands.search-image.rst
  docs/_apidoc/src.utils.bouncer.rst
  docs/_apidoc/src.utils.check_path.rst
  docs/_apidoc/src.utils.geomtools.rst
  docs/_apidoc/src.utils.proxies.rst
  docs/_apidoc/src.utils.rst
  docs/_apidoc/src.utils.slugger.rst
Labels: documentation

Change cli name
  geotribu_cli/__about__.py
  setup.py
Labels: packaging

Return help if no args provided
  geotribu_cli/cli.py
Labels: none

Rename package
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
  docs/usage/cli.md
  docs/usage/installation.md
  geotribu_cli/__about__.py
Labels: ci-cd, documentation

Add search content sub command
  geotribu_cli/cli.py
  geotribu_cli/constants.py
  geotribu_cli/subcommands/search_content.py
Labels: none

cleanup
  geotribu_cli/subcommands/search_image.py
Labels: none

Complete 0.2.0 changelog
  CHANGELOG.md
Labels: none

Modernize build and publish
  .github/workflows/build_release.yml
  requirements.txt
  requirements/packaging.txt
Labels: ci-cd, dependencies

Bump to version 0.3.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Fix artifact path
  .github/workflows/build_release.yml
Labels: ci-cd

typo
  geotribu_cli/utils/file_downloader.py
Labels: none

Add util to check file creation modification date
  geotribu_cli/utils/file_stats.py
  tests/test_utils_file_stats.py
Labels: quality

Use new util in downloader
  geotribu_cli/utils/file_downloader.py
Labels: none

Fix docstring formatting
  geotribu_cli/utils/formatters.py
Labels: none

Save built doc as artifact to
  .github/workflows/documentation.yml
Labels: ci-cd

Bump git hooks
  .pre-commit-config.yaml
Labels: none

Add missing network requirements
  docs/usage/installation.md
Labels: documentation

Use latest pip licenses
  .github/workflows/documentation.yml
Labels: ci-cd

Add languages extra deps for lunr
  requirements/base.txt
Labels: dependencies

var name
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/utils/file_downloader.py
Labels: none
