Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

Add sleep to fix test
  tests/test_utils_file_stats.py
Labels: quality

Bump version to 0.4.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add filter logic (logo and icons)
  geotribu_cli/subcommands/search_image.py
Labels: none

Add codecov badge
  README.md
Labels: none

Add Git author
  .github/workflows/documentation.yml
Labels: ci-cd

Add format output option
  geotribu_cli/subcommands/search_image.py
Labels: none

Add examples
  docs/index.md
  docs/static/img/search_image_table_logo.png
  docs/usage/examples.md
Labels: documentation

Bump to version 0.5.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add shorter aliases
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Add filter logic for search-content
  geotribu_cli/subcommands/search_content.py
Labels: none

Improve content indexer
  geotribu_cli/subcommands/search_content.py
Labels: none

Add flake8 flag to git hooks
  .pre-commit-config.yaml
Labels: none

clean up
  geotribu_cli/subcommands/search_image.py
Labels: none

Add format ouput argument
  geotribu_cli/subcommands/search_content.py
Labels: none

Add table as first output format option
  geotribu_cli/subcommands/search_content.py
Labels: none

Use cli.geotribu.fr
  geotribu_cli/__about__.py
Labels: none

Auto write CNAME file in the output
  docs/conf.py
Labels: documentation

Minor documentation tweaks
  docs/conf.py
  docs/development/setup.md
  docs/development/testing.md
  docs/index.md
  docs/misc/credits.md
  docs/usage/examples.md
Labels: documentation

Rm refs to sphinx-images
  docs/conf.py
Labels: documentation

Add sponsor button
  .github/FUNDING.yml
Labels: ci-cd

Bump version to 0.6.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Update installation.md
  docs/usage/installation.md
Labels: documentation

Minor improvments
  geotribu_cli/utils/proxies.py
Labels: none

Add tests against basic utils
  tests/test_constants.py
  tests/test_utils_file_stats.py
  tests/test_utils_proxies.py
  tests/test_utils_slugifier.py
Labels: quality

Trigger build on base requirements
  .github/workflows/build_release.yml
Labels: ci-cd

Add PyInstaller script for MacOS
  builder/pyinstaller_build_macos.py
Labels: packaging

Build on MacOS
  .github/workflows/build_release.yml
Labels: ci-cd

Specify macos version and improve workflow
  .github/workflows/build_release.yml
Labels: ci-cd

Improve output executable name
  builder/pyinstaller_build_macos.py
Labels: packaging

Fix mac version str
  builder/pyinstaller_build_macos.py
Labels: packaging

Bump version to 0.7.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Add SEO items (sitemap and robots.txt) to docs
  docs/conf.py
  docs/robots.txt
  requirements/documentation.txt
Labels: dependencies, documentation

Fix sitemap URL scheme
  docs/conf.py
Labels: documentation

Add RSS constants
  geotribu_cli/constants.py
Labels: none

Add RSS item dataclass
  geotribu_cli/constants.py
Labels: none

Add subcommand to parse RSS feed
  geotribu_cli/subcommands/rss_reader.py
Labels: none

Import new RSS subcommand
  geotribu_cli/cli.py
Labels: none

Import subparser at subpackage level
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/subcommands/search_image.py
Labels: none

Add doc about rss
  docs/usage/examples.md
Labels: documentation

Add aliases to subcommands
  geotribu_cli/cli.py
Labels: none

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*
