Repository geotribu/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - builder/**/*
  - setup.py

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*

Make broadcast returning the full post object
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Bump to version 0.20.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Improve ignores files
  .dockerignore
  .gitignore
Labels: none

Improve readme
  README.md
Labels: none

Shorten binaries names
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
Labels: packaging

Test packaging on PR when builder/ is modified
  .github/workflows/build_release.yml
Labels: ci-cd

Fix hyperlink
  README.md
Labels: none

Fix keywords type
  geotribu_cli/__about__.py
Labels: none

Factorize comments text markdownify
  geotribu_cli/constants.py
  geotribu_cli/subcommands/comments_broadcast.py
  geotribu_cli/subcommands/comments_latest.py
Labels: none

Add docker cmd
  README.md
Labels: none

Renam utils date
  geotribu_cli/subcommands/search_content.py
  geotribu_cli/utils/dates_manipulation.py
  tests/test_utils_date_from_content.py
Labels: quality

Add date util to get remaining days until next month
  geotribu_cli/utils/dates_manipulation.py
Labels: none

Add subcommand to optimize images
  geotribu_cli/cli.py
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/subcommands/images_optimizer.py
Labels: none

Add tinify as dependency
  requirements/base.txt
Labels: dependencies

Add images parameters
  geotribu_cli/constants.py
Labels: none

Add optimization with tinify
  geotribu_cli/subcommands/images_optimizer.py
Labels: none

Achieve optimizer run with tinypng
  geotribu_cli/subcommands/images_optimizer.py
Labels: none

Move tinify api check
  geotribu_cli/subcommands/images_optimizer.py
Labels: none

FIx tests
  tests/test_cli.py
Labels: quality

Decrement log level
  geotribu_cli/utils/check_path.py
Labels: none

Allow passing a folder
  geotribu_cli/subcommands/images_optimizer.py
Labels: none

Add option to disable auto-open
  docs/usage/configuration.md
  geotribu_cli/subcommands/images_optimizer.py
Labels: documentation

Fix use open_uri utl instaed of higher-level subcmd
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Ajout doc about tinify api
  docs/usage/configuration.md
  docs/usage/examples.md
Labels: documentation

Check API key earlier
  geotribu_cli/subcommands/images_optimizer.py
Labels: none

Bump version to 0.21.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none

Switch default visibility to unlisted to comply with mapstodon rules
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Print different message if status has been already posted
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Add Geotribot manifest
  docs/index.md
  docs/misc/geotribot_manifest.md
Labels: documentation

Typo
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Make mastodon visibility configurable through env var
  docs/usage/configuration.md
  geotribu_cli/subcommands/comments_broadcast.py
Labels: documentation

Check if parent comment has been broadcasted. If so, use it to reply to
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Use parent comment as reply-to
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Handle unlisted comments as replies
  geotribu_cli/subcommands/comments_broadcast.py
Labels: none

Add frontmatter
  requirements/base.txt
Labels: dependencies

Remove frontmatter from markdown before print to terminal
  geotribu_cli/subcommands/open_result.py
Labels: none

Adapt imports
  geotribu_cli/comments/__init__.py
  geotribu_cli/constants.py
  geotribu_cli/subcommands/comments_broadcast.py
  geotribu_cli/subcommands/comments_latest.py
Labels: none

Move Comment objet into module
  geotribu_cli/comments/__init__.py
  geotribu_cli/comments/mdl_comment.py
  geotribu_cli/constants.py
Labels: none

Move comments subcommand
  geotribu_cli/comments/__init__.py
  geotribu_cli/comments/comments_broadcast.py
  geotribu_cli/comments/comments_latest.py
  geotribu_cli/subcommands/__init__.py
Labels: none

Bump version to 0.22.0
  CHANGELOG.md
  geotribu_cli/__about__.py
Labels: none
