Repository geotribu/cli, pull requests merged in 2024-05, with the labels that each got.

#76 Améliore la gestion des logs
  docs/conf.py
  geotribu_cli/cli.py
  geotribu_cli/utils/journalizer.py
  requirements/base.txt
Labels: enhancement

#201 ci(release): switch to PyPi trusted publisher
  .github/workflows/build_release.yml
  setup.cfg
  setup.py
  tests/test_cli.py
  tests/test_mastodon_client.py
Labels: packaging, quality, tooling, ci-cd

#198 Add JSON client for feed and tags
  geotribu_cli/json/__init__.py
  geotribu_cli/json/json_client.py
  tests/test_json_client.py
Labels: enhancement, quality

#202 Docs: corrections et ajouts mineurs
  docs/usage/examples.md
  docs/usage/installation.md
  geotribu_cli/images/optim_pillow.py
Labels: bug, documentation

#184 Add yaml header check
  geotribu_cli/cli.py
  geotribu_cli/content/header_check.py
  geotribu_cli/subcommands/__init__.py
  geotribu_cli/utils/check_image_size.py
  tests/fixtures/content/2012-12-21_article_passe.md
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/fixtures/team/jane-doe.md
  tests/test_utils_images_size.py
  tests/test_yaml_header_check.py
Labels: enhancement, dependencies, quality
