Repository geotribu/cli, pull requests merged in 2024-07, with the labels that each got.

#222 fix(images): print with rich console to display emoji
  geotribu_cli/images/images_optimizer.py
Labels: bug

#224 Outillage : ajoute le jeton Codecov et des flags
  .github/workflows/tests.yml
Labels: tooling, ci-cd

#223 Images optimizer : tient compte du dossier de sortie
  geotribu_cli/images/images_optimizer.py
  geotribu_cli/images/optim_pillow.py
  geotribu_cli/images/optim_tinify.py
Labels: bug

#225 refacto(header): transforme la liste de clés obligatoires en enum
  geotribu_cli/constants.py
  geotribu_cli/content/header_check.py
  tests/test_yaml_header_check.py
Labels: enhancement, quality

#215 Check if optional license is in available values
  geotribu_cli/constants.py
  geotribu_cli/content/header_check.py
  tests/fixtures/content/2044-04-01_article_futur.md
  tests/test_yaml_header_check.py
Labels: bug, quality

#226 refacto(json_feed_client): utilise le file downloader pour mutualiser le code
  geotribu_cli/constants.py
  geotribu_cli/json/json_client.py
Labels: enhancement

#227 Fix: flaky tests
  .github/workflows/tests.yml
  geotribu_cli/__about__.py
  geotribu_cli/comments/comments_open.py
  tests/test_cli.py
Labels: bug, quality, ci-cd

#218 Fix unnecessary pillow import by using image size from CDN endpoint
  geotribu_cli/content/header_check.py
  tests/test_utils_images_size.py
Labels: bug, quality

#229 fix header check unused variables
  geotribu_cli/content/header_check.py
Labels: bug

#232 fix image body dimensions declaration
  geotribu_cli/constants.py
Labels: bug

#231 fix header image extension check
  geotribu_cli/content/header_check.py
  tests/test_yaml_header_check.py
Labels: bug, quality
